<%- include('../partials/header.ejs') %>

<main class="content">
    <h1>Welcome Back!</h1>
    <form action="/auth/login" method="POST" class="event-form">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" minlength="8" maxlength="64" required>

        <button type="submit">Login</button>
    </form>
</main>

<%- include('../partials/footer.ejs') %>
