<%- include('./partials/header.ejs')%>

    <main>
        <h1>About the Adulting App</h1>
        <hr>
        <p>The Adulting App is a platform created at the University of North Carolina at Charlotte. It is designed to
            help adults in school connect and discuss strategies for balancing work, life, and education. Our
            community-driven approach ensures that you can find support, share experiences, and organize events that
            cater to your unique needs.</p>
        <br>
    </main>

<%- include('./partials/footer.ejs')%>