<%- include('./partials/header.ejs')%>

    <main>
        <h1>Contact Us</h1>
        <hr>
        <p>If you have any questions or need further information, please contact us at:</p>
        <br>
        <p><strong>Email:</strong> support@adultingapp.com</p>
        <br>
        <p><strong>Phone:</strong> (123) 456-7890</p>
        <br>
    </main>

<%- include('./partials/footer.ejs')%>