<%- include('./partials/header.ejs')%>

    <main>
        <h1>Welcome to the Adulting App</h1>
        <hr>
        <p>Introducing the Adulting App, a new platform created at the University of North Carolina at Charlotte. This
            innovative app is designed to help adults in school connect and discuss strategies for balancing work, life,
            and education. Our community-driven approach ensures that you can find support, share experiences, and
            organize events that cater to your unique needs.</p>
        <p>Whether you're managing a full-time job, taking care of a family, or juggling multiple responsibilities, the
            Adulting App is here to provide the resources and community support you need. Explore our site to find
            valuable resources, join engaging events, and connect with others who understand the challenges of adulting
            while pursuing education.</p>

    </main>

<%- include('./partials/footer.ejs')%>